body {
  /* background-color: rgb(199, 253, 249); */
  background-color: #061441;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.66'%3E%3Cpolygon fill='%230c2456' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2313336b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23194380' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23205295' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%232662AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, .3);
  min-height: 100vh;
}